# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/

# Environment variables
.env
*.env

# Flask / instance folder (secrets, uploads, db)
instance/
*.sqlite3

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code / PyCharm / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
