{% extends "base.html" %}

{% block title %}{{ patient.name }}{% endblock %}
{% block content %}
<style>
    .patient-info{
        color: rgb(7, 52, 70);
        background-color: rgb(238, 237, 235); 
        font-size: 14px;
        font-weight: normal;
        width: 91%;
        border: 1px solid rgb(236, 221, 204);
        /* vertical-align:middle; */
        height: 22px;
        margin-left: 30px;
    }
    .header{
        background-color: rgb(238, 237, 235);
        margin-top: 0;
        padding-top: 0;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0px;
    }
    .patient-card{
        border: 1px solid #eef1f1;
         padding: 2px; 
         margin-bottom: 2px;
         margin-left :5px;
}
.doctor-left, .doctor-info{
    color: #072270;
}
.delete-btn{
    background-color: red;
    width: 80px;
    border: none;
    background-color: red !important;
    color: #fff !important;
    margin-bottom: 3px;
}
.downloadBtn{
    background-color: blue;
    width: 80px;
    padding: 3px;
    background-color:blue !important; /* same as normal */
    color: #fff !important; 
    /* position: relative; */
}
 .body-container{
    width: 570px;
    padding-top: 0;
    margin-top: 10px;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
 }
 .no-hover:hover {
  background-color: inherit !important;
  color: inherit !important;
 }
</style>

<div class="container-fluid  mt-0  ">
    <div class="header d-flex justify-content-between me-0">
      
      <div class=" doctor-left col-md-6  text-start">
          <h5 class="mb-0">🩺{{current_user.username}}</h5>    
             <p style="font-size:12px" class="mb-0"> {{current_user.degree}}</p>
           <small><p class="mb-0" style="font-size: 10px;">{{ current_user.reg_no}} </p></small>
       </div>
        <div class="doctor-info col-md-6 text-end" style="font-size:12px">
           <p> Web:<u><b>{{ current_user.website}}</b></u><br>
           <small> Email:<b> {{ current_user.email}}</b> <br>
           Mob: <b>{{ current_user.doc_mob}}</b><br></small>
           Date: <b>{{ today.strftime('%d-%m-%Y')}}</b></P>
        </div>
  </div>
</div>
<div class="patient-info text-primary"><small>
    <p> Patient Name: <b>{{ patient.name }} </b>  | Age: <b>{{patient.age}} yrs </b>|
     Gender: <b>{{ patient.gender}}</b> | <b>{{patient.address}} </b>
    </p></small></div>
  <div class="body-container ">
    <div class="d-flex">
       <div class="col-md-9 ">
         {% if patient.advice %}
            {% for advice in patient.advice %}       
               <p><strong><u>Advice</u></strong></p>
               <ul>
                    {% for drug in advice.prescribed_drugs %}
                        <li style="list-style: disc;color:blue; font-size:14px">{{ drug.name }}</li>                
                    {% endfor %}
                </ul></p>
       </div>         
  <div class="mt-auto col-md-3 p-3">
    <form action="{{ url_for('delete_advice', advice_id=advice.id) }}" method="post">
                   <button type="submit" class="btn btn-sm w-auto delete-btn text-white no-hover" title="Delete Advice">Delete</button>
                 </form>
                 <a href="{{ url_for('create_patient_doc', patient_id=patient.id) }}" 
                   class="btn btn-sm downloadBtn text-white w-auto">Download</a>  
              </div>   
            </div>
  </div>
  
        {% endfor %}
    {% else %}
        <p>No advice has been given to this patient yet.</p>
    {% endif %}
  
  </div>
</div>
    
    <script>
   
     </script>
    {% endblock %}