{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<style>
  .a{
    text-decoration: none;
    color: rgb(224, 216, 141);

  }
</style>
<div class="d-flex row justify-content-center vh-80">
  <div class="card shadow-lg m-1 pb-2" style="width: 28rem; ">
    <div class="card-header text-center bg-primary text-white my-2">
    <h6>Doctor Registration</h6>
  </div>
    <form method="POST" action ="{{url_for('register')}}">
      <div class="mb-2">
        <input type="text" name="username" class="form-control" placeholder="Your name"
        required autocomplete="on">
      </div>
      <div class="col-md-4 mb-2">
        <input type="email" name="email" class="form-control" autocomplete="off" placeholder="Email" required>
      </div>
      <div class="mb-2">
        <input type="password" name="password_hash" class="form-control" placeholder="Password" required>
      </div>
      <div class="mb-2">
        <input type="text" name="degree" class="form-control" placeholder="Degree">
      </div>
      <div class="mb-2">
        <input type="text" name="doc_mob" class="form-control" placeholder="mob no">
      </div>
      <div class="mb-2">
        <input type="text" name="reg_no" class="form-control" placeholder="Registration No.">
      </div>
      <div class="mb-2">
        <input type="text" name="website" class="form-control" placeholder="Website">
      </div>
      <div class="d-flex justify-content-center gap-2" >
      <button type="submit" class="btn btn-sm btn-primary">
           Register </button>
           <small>Already have an account? <a href="{{ url_for('login') }}">Login</a></small>
      <!-- <p class="btn btn-success-subtle mt-2 bg-success text-white">Already have an account? <a href="{{ url_for('login') }}">Login</a></p> -->
      </div>
    </form>
    
     <!-- <div class="d-flex justify-content-center gap-2">
  <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
  <p class="btn btn-success-subtle mt-2 bg-success text-white">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
</div> -->
  </div>
</div>
{% endblock %}